# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
db.sqlite3

# Environment
.env
venv/
env/
*.sqlite3

# VSCode / IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Migrations (optional, can keep if needed)
*/migrations/__pycache__/
